.card{
    background-color: antiquewhite;
    border: 1px solid black;
    max-width: 330px;
    justify-items: center;
    margin: 10px;
    display: inline-flex;
    padding: 15px;
    border-radius: 5px;

}

img{
    width: 320px;
    height: 280px;
    border-radius: 5px;
}

.petbtn{
    background-color:rgba(161, 255, 85, 0.8);
    border: solid;
    padding: 5px;
    border-radius: 5px;
    margin-left: 100px;
}